source https://www.nuget.org/api/v2
storage: none
redirects: on
generate_load_scripts: true

nuget FParsec

group test
  source https://www.nuget.org/api/v2
  storage: none
  
  nuget Expecto
  nuget Http.fs
  nuget Newtonsoft.Json

group build
  source https://www.nuget.org/api/v2
  framework: net461
  generate_load_scripts: false

  nuget FAKE