source https://api.nuget.org/v3/index.json
storage: none
redirects: on
framework: netstandard2.0

nuget FParsec

group test
  source https://api.nuget.org/v3/index.json
  storage: none
  redirects: on
  framework: >= netcoreapp2.0
  
  nuget Expecto
  nuget Http.fs
  nuget Newtonsoft.json
